#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 250px;
  height: 100%;
  background: white;
  transition: transform 0.3s ease;
  z-index: 2000;
  padding: 20px;
}


#sidebar.active {
  transform: translateX(0);
}


#sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

#sidebar li {
  margin: 20px 0;
}

#sidebar a {
  color: black !important; 
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.sidebar-content a {
  display: block;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sidebar-content a:hover {
  background-color: #ff1e3c;
  color: white;
  transform: translateX(5px); 
}

.sidebar-content a:hover {
  border-left: 4px solid #ff1e3c;
  padding-left: 10px;
}